config/resource.php
composer.lock

Packages/
public/
vendor/

misc/apidoc/
misc/confdoc/

tests/tmp/
.phpunit.result.cache
.phpunit.cache
coveralls.json
coverage.xml
*.ser
*.log

.buildpath
.project
.settings/
