client/html/i18n/country/[a-z][a-z]
client/html/i18n/country/[a-z][a-z]_[A-Z][A-Z]
client/html/i18n/currency/[a-z][a-z]
client/html/i18n/currency/[a-z][a-z]_[A-Z][A-Z]
client/html/i18n/language/[a-z][a-z]
client/html/i18n/language/[a-z][a-z]_[A-Z][A-Z]
client/html/i18n/code/[a-z][a-z]
client/html/i18n/code/[a-z][a-z]_[A-Z][A-Z]
client/html/i18n/[a-z][a-z]
client/html/i18n/[a-z][a-z]_[A-Z][A-Z]
controller/frontend/i18n/[a-z][a-z]
controller/frontend/i18n/[a-z][a-z]_[A-Z][A-Z]
lib/mshoplib/i18n/[a-z][a-z]
lib/mshoplib/i18n/[a-z][a-z]_[A-Z][A-Z]
resource.php
vendor/
.tx/
*.log
