#navigationMenue {
	display: inline;
}

.catalog-filter .standardbutton {
	width:0px; height:0px;
  visibility:hidden;  
}

.searchbutton12 {
	border: none;
}

.arcavias .minibutton {
	border: none;
}

.arcavias .standardbutton {
	border: none;
}

@media only screen and (min-device-width: 509px) and (max-width: 768px) {
	#headerLogo img {
		width: 100%;
	}
}

/* ----- IE6 ----- */
* #frame {
	width: 984px; 
}

* #content {
	width: 960px; 

}
* #contentLeft {
    width: 173px;
	margin: 0px;
	padding:0px 0px 0px 10px;;
}

* #contentRight {
	width: 767px; 
	padding: 0px 0px;
	margin: 0px;
}