#navigationMenue {
	display: inline;
}

.catalog-list-items .single {
	display: inline;
}

.arcavias .attr-list, .arcavias .form-list {
    list-style: none !important;
}


/* ----- IE7 ----- */
*+ html  .checkout-standard-address-billing {
    float: left;
}
*+ html  .checkout-standard-address-delivery {
    float: left;
}

*+ html .button-group {
	clear: both;
}

*+ html h1 {
	font-size: 1em;
}

*+ html .checkout-standard .step {
	display: inline;
}

/* ----- IE6 ----- */
* #frame {
	width: 984px; 
}

* #content {
	width: 960px; 

}
* #contentLeft {
    width: 173px;
	margin: 0px;
	padding:0px 0px 0px 10px;;
}

* #contentRight {
	width: 767px; 
	padding: 0px 0px;
	margin: 0px;
}

* h1 {
	font-size: 1em;
}

* .checkout-standard-address-billing {
    float: left;
}
*  .checkout-standard-address-delivery {
    float: left;
}
* .button-group {
	clear: both;
}

* .checkout-standard .step {
	display: inline;
}

*.catalog-detail-image #prev-image {
	display: none !important;
}

*.catalog-detail-image #next-image {
	display: none !important;
}

*.catalog-detail-image #next-thumbs {
	display: none !important;
}

*.catalog-detail-image #prev-thumbs {
	display: none !important;
}