/* $Id: main.css 1373 2012-11-01 15:09:25Z nsendetzky $ */



/**
 * Reset the browser default styles
 */

* { margin:0; padding: 0; }

html, body	{ height: 101%; }

fieldset, img	{ border: 0 none; }



/**
 * Default HTML tags
 */

body	{
	background: url(../images/bodyBackground.gif) repeat;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
	color: #000000;
}

h1, h2, h3, h4 {
	color: #004266;
	padding: 5px 0;
}

h1 {
	padding-top: 20px;
}

a {
	color: #679CB8;
}

a:focus {
	outline: none;
}

select {
	font-size: 13px;
	padding: 1px;
	height: 23px;
}

input[type="password"] {
	background-color: #F2F7FA;
	color: #000000;
	font-family: Arial,sans-serif;
}



/**
 * Default classes
 */

.clearer {
	clear: both;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.displayNone {
	display:none;
}

.forms {
	display: inline-block;
}

.formlabel {
	padding-bottom: 7px;
}

.formselect {
	height: 26px;
	margin-bottom: -1px;
}

.input12{
	height: 19px;
	margin-bottom: -1px;
}

.searchbutton12 {
    margin: 1px 1px 0 -3px;
}

.searchbutton12:hover {
    margin: 2px 2px 0 -4px;
}

.lightblue {
	color: #679CB8;
}

.darkblue {
	color: #004266;
}

.orange {
	color: #FF6B00 !important;
}

.left {
	float: right;
}


/*
 * Arcavias
 */

.arcavias button {
	border: medium none;
	text-align: center;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

.arcavias .standardbutton {
    background: url(../images/buttonfond.gif) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #303639;
    border-right: 1px solid #303639;
    border-top: 1px solid #FFFFFF;
    box-shadow: 2px 2px 4px #5C88A1;
    background-color: #FFFFFF;
    color: #FFFFFF;
	border-radius: 4px 4px 4px 4px;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	font-size: 100%;
	line-height: 100%;
	padding: 0.5em;
	margin: 1px 0;
}

.arcavias .standardbutton:hover {
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-top: 1px solid #303639;
	box-shadow: none;
}

.arcavias .minibutton {
    background: url(../images/minibuttonfond.gif) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #303639;
    border-right: 1px solid #303639;
    border-top: 1px solid #FFFFFF;
    box-shadow: 2px 2px 4px #5C88A1;
    background-color: #FFFFFF;
    color: #FFFFFF;
	border-radius: 4px 4px 4px 4px;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	font-size: 80%;
	height: 20px;
	margin: 0 0 1px;
	padding: 0 7px;
}

.arcavias .minibutton:hover {
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-top: 1px solid #303639;
	box-shadow: none;
	margin: 1px 0 0 1px;
}

.arcavias .button-group {
	text-align: center;
	margin: 10px;
}

.arcavias .attr-list,
.arcavias .form-list {
	list-style: none;
	padding: 0;
	margin: 0;
}



/*
 * Catalog filter
 */

.catalog-filter {
	margin-bottom: 81px;
	padding: 17px 0 0 0;
}

.catalog-filter button {
	width: 100%;
	display: none;
}


/*
 * Catalog filter, tree section
 */

.catalog-filter-tree {
	line-height: 125%;
}

.catalog-filter-tree ul {
	list-style: none;
}

.catalog-filter-tree a {
	display: block;
	text-decoration: none;
	padding-top: 2px;
	padding-bottom: 2px;
}

/*
 * Hide all list blocks of the sub-levels.
 * The active ones will be enabled by the interal style sheet
 */
.catalog-filter-tree .tree-level-1 ul {
	display: none;
}

.catalog-filter-tree .tree-level-0 > li a {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 120%;
}

.catalog-filter-tree .tree-level-1 {
	margin: 10px 0;
}

.catalog-filter-tree .tree-level-1 > li a {
	text-transform: none;
}

.catalog-filter-tree .tree-level-2 {
	margin: 0;
}

.catalog-filter-tree .tree-level-2 > li {
	padding-left: 15px;
}

.catalog-filter-tree .tree-level-3 > li {
	padding-left: 15px;
	margin-bottom: 0;
}

.catalog-filter-tree .tree-level-3 > li a {
	font-weight: normal;
	font-size: 100%;
	margin-top: 1px;
}

.catalog-filter-tree .tree-level-3 > .active a {
	font-weight: bold;
}


/*
 * Catalog filter, additional filters section
 */
/*
.filter fieldset {
	border: 1px solid #C3D9E5;
	background-color: #F2F7FA;
	color: #679CB8;
	font-weight: bold;
	padding: 10px;
	margin: 5px 0px;
}

.filter fieldset > legend {
	color: #004266;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}

.filter fieldset > select {
	background-color: #FFFFFF;
	border: 1px solid #C3D9E5;
	color: #679CB8;
	font-weight: bold;
	width: 100%;
}

.filter fieldset input {
	display: inline;
	background-color: #FFFFFF;
	border: 1px solid #C3D9E5;
	color: #679CB8;
	width: 35%;
}
*/



/*
 * Product list
 */

.catalog-list a:focus {
	outline: none;
}


/*
 * Product list, pagination section
 */

.catalog-list-pagination {
	padding: 0.5em;
	text-align: right;
}

.catalog-list-pagination .page-sort {
	float: left;
}

.catalog-list-pagination .page-sort > ul {
	list-style: none outside none;
	display: inline-block;
}

.catalog-list-pagination .page-sort > ul > li {
	display: inline-block;
}

.catalog-list-pagination .page-sort a.active {
	text-decoration: none;
	font-weight: bold;
}

.catalog-list-pagination .page-browser {
	display: inline-block;
}

.catalog-list-pagination .page-browser a {
	font-weight: bold;
	padding: 0 0.25em;
}


/*
 * Product list, items section
 */

.catalog-list-items {
	margin: 10px 0px;
}

.catalog-list-items h1 {
	font-size: 120%;
}

.catalog-list-items .single {
	display: inline-block;
	width: 180px;
	margin: 0 1px;
}

.catalog-list-items .single > a {
	text-decoration: none;
	display: inline-block; 
}

/* media list */

.catalog-list-items .media-list {
	background-image: url(../images/arcavias.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
	overflow: hidden;
	height: 240px;
	width: 180px;
}

.catalog-list-items .media-item {
	background-image: url(../images/progress.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 240px;
	width: 180px;
}

/* text list */

.catalog-list-items .text-list {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	text-align: left;
	height: 5em;
	overflow: hidden;
}

/* price list */

.catalog-list-items .price-list {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 120%;
	font-weight: bold;
}

.catalog-list-items .price-item {
	display: none;
}

.catalog-list-items .price-item:first-child {
	display: block;
}

.catalog-list-items .price-item:first-child .price-quantity,
.catalog-list-items .price-item:first-child .price-rebatepercent,
.catalog-list-items .price-item:first-child .price-rebate,
.catalog-list-items .price-item:first-child .price-shipping,
.catalog-list-items .price-item:first-child .price-taxrate {
	display: none;
}



/*
 * Product detail, image section
 */

.catalog-detail-image {
	float: left;
	padding-right: 10px;
	width: 242px;
}

.catalog-detail-image .image-single {
	background-image: url(../images/arcavias.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: relative;
	overflow: hidden;
	width: 240px;
	height: 320px;
}

.catalog-detail-image .carousel {
	position: absolute;
}

.catalog-detail-image .carousel .item {
	background-repeat: no-repeat;
	background-position: center;
	width: 240px;
	height: 320px;
}

.catalog-detail-image .image-thumbs {
	overflow: hidden;
	width: 240px;
	max-height: 80px;
	margin: 0 1px;
}

.catalog-detail-image .thumbs {
	width: 198px;
	margin: 0 21px;
}

.catalog-detail-image .thumbs a {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	display: inline-block;
	width: 60px;
	height: 80px;
	margin: 0 3px;
	opacity: 0.7;
}

.catalog-detail-image .thumbs .selected,
.catalog-detail-image .thumbs a:hover {
	opacity: 1;
}

.catalog-detail-image #prev-image,
.catalog-detail-image #next-image {
	width: 40px;
	height: 320px;
	position: absolute;
	z-index: 2;
}

.catalog-detail-image #next-image {
	left: 200px;
}

.catalog-detail-image #prev-thumbs,
.catalog-detail-image #next-thumbs {
	width: 20px;
	height: 80px;
	z-index: 2;
}

.catalog-detail-image #prev-thumbs {
	float: left;
}

.catalog-detail-image #next-thumbs {
	float: right;
}

.catalog-detail-image #prev-image.disabled,
.catalog-detail-image #next-image.disabled,
.catalog-detail-image #prev-thumbs.disabled,
.catalog-detail-image #next-thumbs.disabled {
	display: none !important;
}


/*
 * Product detail, basic section
 */

.catalog-detail-basic {
	margin-left: 252px;
}

.catalog-detail-basic h1.basic-name {
	font-size: 175%;
	line-height: 175%;
}

.catalog-detail-basic p.basic-shortdesc {
	margin-top: 1em;
}


/*
 * Product detail, basket section
 */

.catalog-detail-basket {
	margin-left: 252px;
}

/* main price */

.catalog-detail-basket .price-item {
	margin-top: 1.5em;
}

.catalog-detail-basket .price-quantity,
.catalog-detail-basket .price-rebatepercent,
.catalog-detail-basket .price-rebate,
.catalog-detail-basket .price-shipping,
.catalog-detail-basket .price-taxrate {
	display: none;
}

.catalog-detail-basket span.price-value  {
	font-weight: bold;
	font-size: 220%;
}

/* add to basket */

.catalog-detail-basket .basket-add {
	padding: 0.5em;
	margin-top: 1em;
	text-align: right;
}

.catalog-detail-basket .basket-group input {
	margin-right: 1.5em;
	text-align: center;
	font-size: 100%;
	height: 1.75em;
	width: 3em;
}

.catalog-detail-basket .basket-attribute {
	margin-top: 1.5em;
}

/* product attributes */

.catalog-detail-basket .basket-attribute {
	font-weight: bold;
	text-transform: uppercase;
}

.catalog-detail-basket .basket-attribute select {
	font-weight: normal;
	text-transform: none;
	margin-bottom: 3px;
}

.catalog-detail-basket .basket-attribute td {
	padding-right: 5px;
}



/*
 * Product detail, additional section
 */

.catalog-detail-additional {
	padding-top: 1em;
	float: left;
	width: 100%;
}

.catalog-detail-additional h2.tabheader {
	border: 0 none;
    font-size: 1em;
    font-weight: bold;
    height: 2em;
    line-height: 2em;
    padding: 0 0.5em;
}

.catalog-detail-additional .tabcontent {
    margin: 1em;
}





/*
 * Blue color schema
 */

.catalog-filter-tree a {
	border: 1px solid #FFFFFF;
}

.catalog-filter-tree a:hover {
	background-color:  #F2F7FA;
	border: 1px solid #C3D9E5;
}

.catalog-filter-tree .tree-level-0 > li a {
	color: #004266;
}

.catalog-filter-tree .tree-level-2 > .catWithChild {
	background: url(../images/listIconClose.png) no-repeat;
	background-position: 0.1em 0.5em;
}

.catalog-filter-tree .tree-level-2 > .active {
	background: url(../images/listIconOpen.png) no-repeat;
	background-position: 0.1em 0.5em;
}

.catalog-filter-tree .tree-level-2 > li a {
	color: #679CB8;
}



.catalog-list a {
	color: #679CB8;
}

.catalog-list-pagination {
	background-color: #F2F7FA;
	border: 1px solid #689DB9;
	color: #004266;
}

.catalog-list-pagination .page-sort a {
	color: #004266;
}

.catalog-list-pagination .page-browser a {
	color: #004266;
}

.catalog-list-items h1 {
	color: #004266;
}

.catalog-list-items .media-list > img {
	background-color: #FFFFFF;
}

.catalog-list-items .text-list {
	border-top: 1px solid #C3D9E5;
	border-bottom: 1px solid #C3D9E5;
}

.catalog-list-items .price-list {
	color: #004266;
}



.catalog-detail-image {
	background-color: #ffffff;
}

.catalog-detail-image .image-single {
	border: 1px solid #C3D9E6;
}

.catalog-detail-image .carousel {
	background-color: #FFFFFF;
}

.catalog-detail-basic h1.basic-name {
	color: #88B3CB;
}

.catalog-detail-basic p.basic-supplier {
	color: #004266;
}

.catalog-detail-basket .basket-price span.price-value  {
	color: #004266;
}

.catalog-detail-basket .basket-add {
	background-color: #679CB8;
}

.catalog-detail-basket .basket-attribute {
	color: #004266;
}

.catalog-detail-additional h2.tabheader {
	color: #ffffff;
	background-color: #679CB8;
}


.basket-standard .error-list,
.checkout-confirm .error-list,
.checkout-standard .error-list {
	background-color: #ffeeee;
	border: solid 1px #FF3300;
}

.checkout-standard-summary-basket thead,
.basket-standard-main thead {
	background-color: #F2F7FA;
}

.checkout-standard-summary-basket thead tr,
.basket-standard-main thead tr {
	border-bottom: 1px solid #689DB9;
	color: #004266;
}

.checkout-standard-summary-basket tr.total,
.basket-standard-main tr.total {
	background-color: #F2F7FA;
	color: #004266;
}

.basket-standard-main td.quantity a {
	color: #689DB9;
}

.basket-standard-main td.action a {
	color: #FFFFFF;
}

.basket-standard-main td.quantity input {
	border: solid 1px #689DB9;
}

.checkout-standard-summary-basket tbody tr,
.basket-standard-main tbody tr {
	border-bottom: 1px solid #689DB9;
}

.checkout-standard-summary-basket tr.total,
.basket-standard-main tr.total {
	border-top: 1px solid #689DB9;
}



.checkout-standard .steps .active {
	color: #689DB9;
	border-bottom: solid 8px #689DB9;
}

.checkout-standard .steps .current {
	color: #004266;
	border-bottom: solid 8px #004266;
}

.checkout-standard .step {
	color: #d3dbde;
	border-bottom: solid 8px #d3dbde;
}





/**
 * Basket + Checkout
 */

.basket-standard,
.checkout-standard,
.checkout-confirm {
	min-width: 240px;
	max-width: 920px;
	margin: 0 auto;
}

.basket-standard .error-list,
.checkout-standard .error-list,
.checkout-confirm .error-list {
	padding: 0.5em;
	margin-top: 1em;
	list-style: none;
}


.basket-standard .note,
.checkout-standard .note,
.checkout-confirm .note {
	font-weight: bold;
}

.basket-standard-main,
.checkout-confirm-basic,
.checkout-standard-delivery .item,
.checkout-standard-payment .item,
.checkout-standard-summary-address,
.checkout-standard-summary-service,
.checkout-standard-summary-option,
.checkout-standard-summary-basket {
	margin: 10px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: solid 1px #689DB9;
}



/*
 * Basket
 */

.basket-standard-main form,
.checkout-standard-summary-basket .basket {
	margin: 10px;
}

.checkout-standard-summary-basket .basket {
	margin-top: 0;
}

.checkout-standard-summary-basket table,
.basket-standard-main table {
	border-collapse: collapse;
	width: 100%;
}

.checkout-standard-summary-basket thead,
.basket-standard-main thead {
	font-weight: bold;
}

.checkout-standard-summary-basket th,
.checkout-standard-summary-basket td,
.basket-standard-main th,
.basket-standard-main td {
	padding: 5px;
	vertical-align: top;
}

.checkout-standard-summary-basket th.quantity,
.checkout-standard-summary-basket th.action,
.basket-standard-main th.quantity,
.basket-standard-main th.action {
	width: 10%;
}

.checkout-standard-summary-basket th.price,
.basket-standard-main th.price {
	width: 20%;
}

.checkout-standard-summary-basket tr.subtotal,
.checkout-standard-summary-basket tr.delivery,
.checkout-standard-summary-basket tr.payment,
.checkout-standard-summary-basket tr.total,
.checkout-standard-summary-basket tr.rebate,
.checkout-standard-summary-basket tr.tax,
.checkout-standard-summary-basket td.unitprice,
.checkout-standard-summary-basket td.price,
.basket-standard-main tr.subtotal,
.basket-standard-main tr.delivery,
.basket-standard-main tr.payment,
.basket-standard-main tr.total,
.basket-standard-main tr.rebate,
.basket-standard-main tr.tax,
.basket-standard-main td.unitprice,
.basket-standard-main td.price {
	text-align: right;
	white-space: nowrap;
}

.checkout-standard-summary-basket tr.delivery td:first-child:after,
.checkout-standard-summary-basket tr.payment td:first-child:after,
.basket-standard-main tr.delivery td:first-child:after,
.basket-standard-main tr.payment td:first-child:after {
	content: " +";
}

.checkout-standard-summary-basket td.quantity,
.basket-standard-main td.quantity,
.basket-standard-main td.action {
	text-align: center;
}

.basket-standard-main td.quantity a,
.basket-standard-main td.action a {
	text-decoration: none;
}

.basket-standard-main td.quantity input {
	text-align: center;
	display: inline;
	width: 3em;
}

.checkout-standard-summary-basket tfoot,
.basket-standard-main tfoot {
	vertical-align: bottom;
	font-weight: bold;
}

.checkout-standard-summary-basket tr.rebate,
.checkout-standard-summary-basket tr.tax,
.basket-standard-main tr.rebate,
.basket-standard-main tr.tax {
	font-weight: normal;
}




/*
 * Checkout
 */

.checkout-standard .steps {
	font-weight: bold;
	text-align: center;
	counter-reset: step;
}

.checkout-standard .steps a {
	text-decoration: none;
}

.checkout-standard .steps .order {
	display: none;
}

.checkout-standard .step {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	height: 1.25em;
	width: 19%;
}

.checkout-standard .step:before {
	content: counter(step) ". ";
	counter-increment: step;
}

.checkout-standard .item-address li {
	display: none;
}

.checkout-standard .item-address .name {
	display: none;
}

.checkout-standard li.item-salutation,
.checkout-standard li.item-address1,
.checkout-standard li.item-postal {
	float: left;
}

.checkout-standard li.item-lastname,
.checkout-standard li.item-firstname,
.checkout-standard li.item-address2,
.checkout-standard li.item-city {
	margin-left: 0.25em;
	float: left;
}

.checkout-standard li.item-salutation,
.checkout-standard li.item-address1,
.checkout-standard li.item-address3,
.checkout-standard li.item-postal,
.checkout-standard li.item-state,
.checkout-standard li.item-countryid,
.checkout-standard li.item-languageid,
.checkout-standard li.item-email,
.checkout-standard li.item-telephone,
.checkout-standard li.item-telefax,
.checkout-standard li.item-website {
	clear: both;
}

.checkout-standard .form-list .mandatory,
.checkout-standard .form-list .optional, 
.checkout-standard .form-list .error,
.checkout-standard .attr-list .mandatory,
.checkout-standard .attr-list .optional, 
.checkout-standard .attr-list .error {
	display: list-item;
}

.checkout-standard .form-list .mandatory > label  {
	font-weight: bold;
}

.checkout-standard .form-list .mandatory > label:after {
	content: "*";
}

.checkout-standard .form-item {
	border-bottom: solid 1px #689DB9;
	vertical-align: bottom;
	line-height: 2.5em;
}

.checkout-standard .form-list label {
	vertical-align: bottom;
	display: inline-block;
	line-height: 100%;
	padding-top: 1em;
	width: 218px;
}

.checkout-standard .form-list input {
	background-color: #F2F7FA;
	border: solid 1px #689DB9;
	border-bottom: none;
	vertical-align: bottom;
	display: inline-block;
	height: 1.5em;
	width: 216px;
}

.checkout-standard .form-list select {
	vertical-align: bottom;
	height: 1.5em;
	width: 216px;
}

.checkout-standard .form-list .error {
	border-bottom: solid 1px #FF3300;	
	color: #FF3300;
}

.checkout-standard .form-list .error a {
	color: #FF3300;
}

.checkout-standard .form-list .error > input,
.checkout-standard .form-list .error > select {
	background-color: #ffeeee;
	border: solid 1px #FF3300;
	border-bottom: none;
}


/*
 * Checkout address
 */

.checkout-standard-address-billing,
.checkout-standard-address-delivery {
	display: inline-block;
	vertical-align: top;
	max-width: 458px;
	min-width: 238px;
	width: 50%;
}

.checkout-standard-address h2 {
	margin: 10px;
}

.checkout-standard-address .item-address {
	margin: 0 10px;
}

.checkout-standard-address .header {
	margin: 10px 0;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #F2F7FA;
}

.checkout-standard-address .header > input {
	display: inline;
	vertical-align: top;
	margin-right: 10px;
}

.checkout-standard-address .item-address .values {
	display: inline-block;
	vertical-align: middle;
}

.checkout-standard-address .item-address .attr-list {
	display: inline-block;
}

.checkout-standard-address .item-new .form-list {
	display: none;
}

.checkout-standard-address .form-item {
	display: none;
}


/*
 * Checkout delivery/payment
 */

.checkout-standard .item-service .description,
.checkout-standard .item-service .form-list {
	display: inline-block;
	vertical-align: top;
	min-width: 218px;
	max-width: 438px;
	padding: 10px;
	width: 100%;
}

.checkout-standard .item-service .description h2,
.checkout-standard .item-service .description p,
.checkout-standard .item-service .icons {
	margin-left: 40px;
	margin-right: 10px;
}

.checkout-standard .item-service .option {
	float: left;
	margin-left: 10px;
}

.checkout-standard .item-service .price-value {
	float: right;
	margin: 5px 10px;
	font-weight: bold;
	font-size: 220%;
	color: #004266;
}

.checkout-standard .item-service .description .short {
	padding-top: 5px;
	font-weight: bold;
}

.checkout-standard .item-service .description .long {
	padding-top: 5px;
}


/*
 * Checkout summary
 */

.checkout-standard-summary .item-address,
.checkout-standard-summary .item-service {
	display: inline-block;
	vertical-align: top;
}

.checkout-standard-summary .item-address,
.checkout-standard-summary .item-service {
	max-width: 458px;
	min-width: 238px;
	width: 50%;
}

.checkout-standard-summary-address h2,
.checkout-standard-summary-service h2,
.checkout-standard-summary-option h2 {
	display: none;
}

.checkout-standard-summary .item-address .header,
.checkout-standard-summary .item-service .header {
	margin: 0 10px;
	margin-bottom: 10px;
	padding: 0 10px;
	background-color: #F2F7FA;
}

.checkout-standard-summary h3 {
	display: inline-block;
}

.checkout-standard-summary .item-service h4 {
	margin: 0 10px;
	margin-bottom: 10px;
	padding: 0 10px;
}

.checkout-standard-summary .item-service .item-icons {
	float: right;
	margin: 0 20px 10px 20px;
}

.checkout-standard-summary .modify {
	float: right;
	margin: 5px 0;
}

.checkout-standard-summary .summary-basket .modify {
	margin: 10px 20px;
}

.checkout-standard-summary .item-address .attr-list,
.checkout-standard-summary .item-service .attr-list {
	list-style: none;
	margin: 0 10px;
	padding: 10px;
	padding-top: 0;
}

.checkout-standard-summary .item-service li {
	vertical-align: top;
	padding-top: 5px;
}

.checkout-standard-summary .item-service li:first-child {
	padding-top: 0;
}

.checkout-standard-summary .item-service .name {
	display: inline-block;
	vertical-align: top;
	color: #004266;
	width: 198px;
}

.checkout-standard-summary .item-service .name:after {
	content: ":";
}

.checkout-standard-summary .item-service .value {
	display: inline-block;
	vertical-align: top;
	width: 198px;
}

.checkout-standard-summary-option {
	padding: 10px;
	padding-top: 0;
}

.checkout-standard-summary-option .single {
	padding: 5px 0;
}

.checkout-standard-summary-option h3 {
	display: block;
}

.checkout-standard-summary-option input {
	display: inline-block;
	vertical-align: middle;
}

.checkout-standard-summary-option p {
	display: inline;
	vertical-align: middle;
	margin-left: 10px;
}

.checkout-standard-summary-option .error {
	background-color: #ffeeee;
	border-bottom: solid 1px #FF3300;
}

.checkout-standard-summary-basket h2,
.checkout-standard-summary-basket .modify {
	display: block;
	margin: 5px 10px;
}


/*
 * Checkout order
 */

.checkout-standard-order-payment {
	text-align: center;
}

.checkout-standard-order-payment p {
	margin: 10px 0;
}


/*
 * Checkout confirm basic part
 */

.checkout-confirm-basic h2,
.checkout-confirm-basic p,
.checkout-confirm-basic .attr-list {
	margin: 10px;
}

.checkout-confirm-basic .attr-list .name,
.checkout-confirm-basic .attr-list .value {
	display: inline-block;
	width: 218px;
}

.checkout-confirm-basic .attr-list .name:after {
	content: ": ";
}




.register {
	display: inline-block;
	margin-left: 25%;
	padding-bottom: 75px;
	width: 360px;
}

.register p {
	margin: 7px 0;
}

.register ul {
	text-align: left;
}

.register .standardbutton {
	width: 120px;
	float: right;
	margin-right: 60px;
}



#content {
	margin: 0 10px;
	background-color: #ffffff;
	border-radius: 15px 15px 0 0;
}

#contentLeft {
	float: left;
	margin-right: 14px;
	width: 150px;
}

#contentRight {
	margin-left: 165px;
	padding-top: 17px;
}

#footer {
	margin: 19px;
	color: #004266;
}

.display #header {
	background-image: none;
	height: 138px;
}

#header {
	margin: 0 8px;
	height: 138px;
}

#headerArticleBox {
	font-size: 12px;
	padding-bottom: 12px;
}

#headerBottom {
	height: 50px;
	margin-top: -1px;
	text-align: center;
}

#headerBottom div, #headerBottom span {
	display: inline-block;
	white-space: nowrap;
	padding: 0 5px;
	border-radius: 0 0 5px 5px;
}

#headerBottomMiddle {
	background:url(../images/mainnavigationBackground.jpg) repeat-x;
	display: inline-block;
	height: 44px;
	vertical-align: top;
}

#headerBottom a {
	color: #FFFFFF;
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
	height: 43px;
	line-height: 44px;
	margin-top: 1px;
	padding: 0px 14px 0 15px;
	text-transform: uppercase;
	text-decoration: none;
}

#headerBottom a.active,
#headerBottom a:hover {
	background:url(../images/mainnavigationBackgroundActive.jpg) repeat-x;
}

#headerBottomLeftCorner,
#headerBottomRightCorner {
	float: left;
}

#headerBottomRightCorner {
	float: right;
}

div#headerBox {
	display: inline-block;
	float: right;
	white-space: nowrap;
}

#headerImg {
	background-repeat: no-repeat;
}

#headerImg.display {
	margin: 0 8px;
}

#headerImg.display #headerImgLink {
	display: block;
}

#headerImg #headerImgLink {
	display: none;
	width: 100%;
	height: 230px;
	text-decoration: none;
}

#headerLogo {
	float: left;
	margin: 6px 0 0 29px;
}

#headerLeftBox {
	float: right;
	margin-right: 8px;
	min-width: 285px;
}

#headerLeftBg,
#headerRightBg {
	height: 94px;
	text-align: right;
	border-bottom: 1px solid #5C88A1;
	box-shadow: 0 2px 4px -1px #679CB8;
	border-radius: 0 0 15px 15px;
	background-color: #ffffff;
}

#headerRightBg {
	padding-right: 16px;
}


.display #headerLeftBg,
.display #headerRightBg {
	padding-bottom: 0;
}

#headerTopNavigation {
	padding: 8px 0 0 0;
	display: inline-block;
	max-width: 320px
}

#headerRightBg a.menu {
	color: #004266;
	padding: 0 7px 0 8px;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 16px;
}

#headerTopNavigation a:hover {
	color: #679CB8;
}

#headerRightBox {
	background-color: #F2F7FA;
	border-left: 1px solid #C3D9E5;
	border-bottom: 1px solid #C3D9E5;
	border-right: 1px solid #C3D9E5;
	color: #004266;
	float: right;
	height: 53px;
	padding: 8px 5px 0 7px;
	min-width: 115px;
	margin-left: 10px;
	text-align: justify;
}

#headerSearch {
	margin-top: 16px;
	margin-right: 5px;
	float: right;
}

#headerSearch input[type=text] {
	background-color: #FFFFFF;
	border-left: 0 none;
	border-radius: 0 4px 4px 0;
	width: 150px;
}

#headerSearch span {
	background-color: #689DB9;
	border-radius: 2px 0 0 2px;
	color: #FFFFFF;
	display: inline-block;
	float: left;
	font-weight: bold;
	height: 15px;
	margin: 2px 0 0 8px;
	padding: 4px 9px 2px 9px;
}

#frame {
	background: url(../images/middleBackground.jpg) repeat;
	min-width: 780px;
	max-width: 1000px;
	margin: auto;
	height: auto !important;
	height: 100%;
	overflow: hidden !important;
}



#middleLeftBg {
	background: url(../images/middleLeftBackground.jpg) repeat-y #FFFFFF;
}

#middleRightBg {
	background: url(../images/middleRightBackground.jpg) repeat-y right;
}

#middleBottom {
	background: url(../images/middleBottomBackground.jpg) repeat-x;
	height: 16px;
}

#middleLeftBottom,
#middleRightBottom {
	background: url(../images/middleLeftBottomBackground.jpg) no-repeat;
	float: left;
	height: 16px;
	width: 19px;
}

#middleRightBottom {
	background: url(../images/middleRightBottomBackground.jpg) no-repeat;
	float: right;
}



#productOrdering {
	height: 570px;
}

#productsearch {
	border: 1px solid #C3D9E6;
	border-radius: 1px;
	background-color: #F2F7FA;
	font-size: 14px;
}

#productsearch h3 {
	color: #002D46;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 12px 9px 12px;
	text-transform:uppercase;
}

#productsearch input[type=text] {
	border: 1px solid #BDD5E2;
	background-color: #FFFFFF;
	margin-right: 4px;
	width: 89px;
}

#productsearch table {
	border-spacing: 0;
	color: #88B3CB;
	empty-cells: show;
	font-weight: bold;
	margin: 0 12px 4px 12px;
}

#productsearch table.priceTab {
	color: #004266;
}

#productsearch td {
	padding-bottom: 5px;
}

#productsearch .spacer {
	background-color:#A5C6D8;
	height: 1px;
}

#productsearch .td_0 {
	width: 17px;
}

#productsearch .td_1 {
	vertical-align:top;
	width: 38px;
}

#productsearch .td_2 {
	padding-right: 6px;
}

#productsearch #selectionInherit {
	background-color: #88B4CB;
	padding: 10px  0 8px 0;
	text-align: center;
}




/*
 * Form elements
 */

input[type="text"] {
    background-color: #F2F7FA;
    color: #000000;
    font-family: Arial,sans-serif;
}

select {
    color: #000000;
    font-family: Arial,sans-serif;
}

.formliste {
	padding:3px 0 3px 0;
	clear:both;
}

.input11 {
    border: 1px solid #689DB9;
    border-radius: 4px 4px 4px 0;
    font-size: 11px;
    margin: 2px 0 0;
    padding: 3px 3px 2px;
    width: 140px;
}

.input12 {
    border: 1px solid #689DB9;
    border-radius: 4px 4px 4px 0;
    font-size: 12px;
    margin: 2px 0 0;
    padding: 3px 3px 2px;
    width: 200px;
}

.input11b {
    border: 1px solid #689DB9;
    border-radius: 4px 0 0 4px;
    font-size: 11px;
    margin: 2px 0 0;
    padding: 3px 3px 2px;
    width: 140px;
}

.input12b {
    border: 1px solid #689DB9;
    border-radius: 4px 0 0 4px;
    font-size: 12px;
    margin: 2px 0 0;
    padding: 3px 3px 2px;
    width: 200px;
    float: left;
}

.formselect {
    background-color: #F2F7FA;
    border: 1px solid #689DB9;
    border-radius: 4px 4px 4px 0;
    float: left;
    font-size: 12px;
    margin: 0;
    padding: 0 3px;
    width: 200px;
}

.formselect select {
    margin: 2px 0;
}

.formlabel {
    border-bottom: 1px solid #689DB9;
    color: #000000;
    float: left;
    font-size: 12px;
    margin: 2px 0 0;
    padding: 4px 3px 2px 0;
    width: 140px;
}

.inputbutton11 {
    background: url(../images/minibuttonfond.gif) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #303639;
    border-radius: 0 4px 4px 0;
    border-right: 1px solid #303639;
    border-top: 1px solid #FFFFFF;
    box-shadow: 2px 2px 4px #5C88A1;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 11px;
    margin: 1px 0 0 -2px;
    padding: 3px 2px 1px;
    text-transform: uppercase;
}

.searchbutton11 {
    background: url(../images/minibuttonfond.gif) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #303639;
    border-radius: 0 4px 4px 0;
    border-right: 1px solid #303639;
    border-top: 1px solid #FFFFFF;
    box-shadow: 2px 2px 4px #5C88A1;
    float: left;
    height: 21px;
    margin: 1px 0 0 -2px;
    padding: 0 3px 0 2px;
    width: 21px;
}

.inputbutton12 {
    background: url(../images/minibuttonfond.gif) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #303639;
    border-radius: 0 4px 4px 0;
    border-right: 1px solid #303639;
    border-top: 1px solid #FFFFFF;
    box-shadow: 2px 2px 4px #5C88A1;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 12px;
    margin: 1px 0 0 -2px;
    padding: 3px 2px 1px;
    text-transform: uppercase;
}

.searchbutton12 {
    background: url(../images/minibuttonfond.gif) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #303639;
    border-radius: 0 4px 4px 0;
    border-right: 1px solid #303639;
    border-top: 1px solid #FFFFFF;
    box-shadow: 2px 2px 4px #5C88A1;
    float: left;
    height: 22px;
    margin: 2px 0 0 -2px;
    padding: 0 3px 0 2px;
    width: 21px;
}

.inputbutton11:hover, .searchbutton11:hover, .inputbutton12:hover, .searchbutton12:hover {
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-top: 1px solid #303639;
    box-shadow: none;
    margin: 2px 0 0 -1px;
}

.diabutton3 {
    background-image: url(../images/arrowRight.png);
    background-repeat: no-repeat;
    height: 25px;
    width: 22px;
}

.diabutton3:hover {
    background-image: url(../images/arrowRightActive.png);
}
