/**
 * Reset the browser default styles
 */

 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
 pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, 
 s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, 
 legend, table, caption, tbody, tfoot, thead, tr, th, td , img{
	border: 0px none;
	margin: 0px;
	outline: 0px none;
	padding: 0px;
}

/* ----- Default HTML tags -----*/
body{
	background: url(../images/bodyBackground.gif) repeat #FFFFFF; 
	font-family: Arial, Verdana, Helvetica, sans-serif; 
	font-size: 0.75em; 
	color: #000000;
}

h1 {
	margin: 0px;
	color: #004266;
	font-size: 2em;
	padding: 0px 0px 20px 0px;
}

h2, h3, h4 {
	padding: 5px 0px;
	color: #004266;
	font-size: 1em;
}

a:link {
	color: #679CB8;
	text-decoration: none;
}
a:visited {
	color: #679CB8;
	text-decoration: none;
}
a:focus {
	outline: none;
}
a:visited {
	color: #679CB8;
}

select {
	height: 23px; 
	padding: 1px; 
	color: #000000; 
	font-family: Arial,sans-serif;
}

/* ----- Layout ----- */
#frame {
	max-width: 1000px; 
	min-width: 300px;
	background: url(../images/middleBackground.jpg) repeat;
	margin: auto; 
}

#main {
	background: url(../images/middleLeftBackground.jpg) repeat-y #FFFFFF;
}

#mainBg {
	background: url(../images/middleRightBackground.jpg) repeat-y right;
}

/* ----- Header ----- */
#headerImg {
	margin: 0px 8px;
	position: relative;
	background: url("../images/sites/default/header.jpg") no-repeat; 
}

#headerImg #spacer {
	height: 220px;
}

#header {
	height: 94px; 
	margin: 0px 8px;
	background: #FFFFFF;
	border-bottom: 1px solid #5C88A1;
	border-radius: 0 0 15px 15px;
	box-shadow: 0 2px 4px -1px #679CB8;
}

#headerLogo {
	width: 32%;
	float: left; 
	padding: 0.5% 1% 0% 1%;
}

#headerMiddle {
	width: 50%;
	float:left;
	text-align: right; 
}

#headerNavigation {
	padding:7px 0px 0px 0px;
}

#headerNavigation a {
	color: #004266; 
	padding: 0px 0px 0px 10px; 
	text-decoration: none; 
	text-transform: uppercase; 
	white-space: nowrap;
}

#headerNavigation a:hover {
	text-decoration: underline;
}

#headerSearch {
	height: 15px; 
	float: right;
	padding: 7px 0px 0px 0px;
}

#headerSearch input {
	width: 150px; 
	background-color: #FFFFFF; 
	border-left: 0px none; 
	border: 1px solid #689DB9; 
	float: left;

	padding: 4px 3px 3px;
	font-size: 1em;
}

#headerSearch span {
	height: 17px; 
	padding: 4px 9px 3px 9px;
	background-color: #689DB9; 
	border-radius: 2px 0px 0px 2px; 
	color: #FFFFFF; 
	display: inline-block; 
	float: left; 
	font-weight: bold; 
}
#headerSearch span.ui-helper-hidden-accessible{
	display: none;
}

.searchbutton12 {
	width: 26px;
	height: 24px; 
	background: url(../images/minibuttonfond.gif) repeat scroll 0px 0px transparent; 
	border: 1px solid #689DB9;
	border-radius: 0px 4px 4px 0px; 
	box-shadow: 2px 2px 4px #5C88A1; 
	float: left; 

	margin: 0px 1px 0px -3px; 
	padding: 0px 3px 0px 2px; 

	cursor: pointer;
	color: #FFFFFF;
}

#headerBasket .basket-mini {
	width: 13%;
	float: left; 
	margin: 0% 1% 0% 1%;
	padding: 0.8% 0% 0.8% 0%; 
	background-color: #F2F7FA; 
	border-left: 1px solid #C3D9E5; 
	border-bottom: 1px solid #C3D9E5; 
	border-right: 1px solid #C3D9E5; 
	color: #004266; 
	text-align: center;
}
#headerBasket .basket-mini-main{
	padding: 0px 0px 5px 0px;
}

/* ----- Navigation ----- */
#navigation {
	text-align: center;
	width: 100%;
}

#navigationMenue {
	height: 100%;
	padding: 0px 0px 10px 0px;
}

#navigationMenue a {
	height: 43px; 
	padding: 0px 14px 0px 15px; 
	margin: 0px -3px 0px 0px;
	background:url(../images/mainnavigationBackground.jpg) repeat-x; 
	color: #FFFFFF; 
	display: inline-block; 
	font-weight: bold; 
	font-size: 1.5em; 
	line-height: 44px; 
	text-transform: uppercase; 
	text-decoration: none;
}

#navigationMenue a:first-child {
	border-radius: 5px 0px 0px 5px;
}

#navigationMenue a:last-child {
	border-radius: 0px 5px 5px 0px;
}

#navigationMenue a:hover {
	background:url(../images/mainnavigationBackgroundActive.jpg) repeat-x;
}

#navigationMenue a.active {
	background:url(../images/mainnavigationBackgroundActive.jpg) repeat-x;
}

/* ----- Content ----- */
#content {
	padding: 20px 0px 20px 0px; 
	margin: 0px 8px 0px 8px;
	background-color: #FFFFFF;
	border-radius: 15px 15px 0 0;
}

#contentLeft {
	min-width: 17%; 
	float: left; 
	padding: 0px 1.2%; 
	background: #FFFFFF;
}

#contentRight {
	width: 79%; 
	float: left; 
	padding: 0 1.6% 0 0;
	background: #FFFFFF;
}

/* ----- Footer -----*/
#footer {
	clear: both;
}

#footerTop {
	height: 16px;
	background: url(../images/middleBottomBackground.jpg) repeat-x; 
}

#footerBottom {
	padding: 19px; 
	color: #004266;
	clear: both;
}

#footerTopLeft,
#footerTopRight {
	height: 16px; 
	width: 19px;
	float: left; 
	background: url(../images/middleLeftBottomBackground.jpg) no-repeat; 
}

#footerTopRight {
	background: url(../images/middleRightBottomBackground.jpg) no-repeat; 
	float: right;
}

/*----- Default classes -----*/
.clearer {
	clear: both;
}

.clearfix:after {
	content: "."; 
	display: block; 
	height: 0px; 
	clear: both; 
	visibility: hidden;
}

/*----- Media Queries -----*/
@media only screen and (min-device-width: 620px) and (max-width: 768px) {
	#headerLogo img {
		max-width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: 620px) and (orientation: portrait) {
	#headerLogo {
		display: none;
	}
	#headerMiddle {
		width: 65%;
}
	#headerBasket .basket-mini{
		width: 28%;
		margin: 0 3%;
	}
	#headerSearch {
		padding: 5px 0 0;
	}
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
	#navigationMenue a {
		height: 33px; 
		font-size: 1em; 
		line-height: 34px; 
	}
	#headerImg #spacer {
		display:none;
	}
}

/*----- Media Queries -----*/
/*

@media only screen and (max-width: 525px) and (orientation: portrait) {
	#headerSearch input {
		width: 130px;
	}
	#navigationMenue a {
		height: 33px; 
		font-size: 1em; 
		line-height: 34px; 
	}
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
	#headerImg #spacer {
		display:none;
	}
}

@media only screen and (max-height: 500px) and (orientation: landscape) {
	#headerImg #spacer {
		display:none;
	}
	#headerLogo {
		display: none;
	}
	#navigationMenue a {
		height: 30px; 
		font-size: 1em; 
		line-height: 31px; 
	}
	#navigationMenue a:first-child {
		border-radius: 0px;
	}
	#navigationMenue a:last-child {
		border-radius: 0px;
	}
		#headerMiddle {
		width: 65%;
}
	#headerBasket .basket-mini{
		width: 28%;
		margin: 0 3%;
	}
	#headerSearch {
		padding: 5px 0 0;
	}
}

@media only screen and (max-width: 400px) and (orientation: portrait) {
	#headerSearch span {
		display: none;
	}
	#headerSearch input {
		border-left: 1px solid #689DB9;
	}
}

@media only screen and (max-width: 360px) and (orientation: portrait) {
	#headerImg {
		background: none;
		margin: 0px;
	}
	#main {
		background: none;
	}
	#mainBg {
		background: none;
	}
	#header {
		border-radius: 0px;
		box-shadow: 0 2px 4px -1px #679CB8;
		margin: 0px;
	}
	#navigationMenue a {
		height: 30px; 
		font-size: 1em; 
		line-height: 31px; 
	}
	#navigationMenue a:first-child {
		border-radius: 0px;
	}
	#navigationMenue a:last-child {
		border-radius: 0px;
	}
	#footerTop {
		display: none;
	}
	#frame {
		min-width: 310px;
	}
}*/