/**
 * Reset the browser default styles
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ----- Default HTML tags -----*/
body{
	background: url(../images/bodyBackground.gif) repeat #FFFFFF; 
	font-family: Arial, Verdana, Helvetica, sans-serif; 
	font-size: 0.75em; 
	color: #000000;
}

h1 {
	margin: 0px;
	color: #004266;
	padding: 0px 0px 20px 0px;
	font-size: 1.5em;
}

h2, h3, h4 {
	padding: 5px 0px;
	color: #004266;
	font-size: 1em;
}

a:link {
	color: #689DB9;
	text-decoration: none;
}
a:visited {
	color: #689DB9;
	text-decoration: none;
}
a:focus {
	outline: none;
}
a:visited {
	color: #689DB9;
}

p {
	padding: 5px 0px;
}

select {
	color: #000000;
}

/* ----- Layout ----- */
#frame {
	max-width: 1000px; 
	min-width: 300px;
	background: url(../images/middleBackground.jpg) repeat;
	margin: auto; 
}

#main {
	background: url(../images/middleLeftBackground.jpg) repeat-y #FFFFFF;
}

#mainBg {
	background: url(../images/middleRightBackground.jpg) repeat-y right;
}

/* ----- Header ----- */
#headerImg {
	background-repeat: no-repeat;
	margin: 0 8px;
}

#header {
	height: 94px; 
	margin: 0px 8px;
	background: #FFFFFF;
	border-bottom: 1px solid #5C88A1;
	border-radius: 0 0 15px 15px;
	box-shadow: 0 2px 4px -1px #679CB8;
}

#headerLogo {
	width: 32%;
	float: left; 
	padding: 0.5% 1% 0% 1%;
}

#headerMiddle {
	float: right;
}

ul.menu {
	position: relative;
	list-style: none;
	padding: 4px;
	float: right;
}

ul.menu > li {
	border: solid 1px #FFFFFF;
	display: inline-block;
	padding: 0px 0;
	float: left;
}

ul.menu > li.dropdown:hover,
ul.menu > li.active {
	border: solid 1px #689DB9;
	border-radius: 2px;
}

ul.menu a {
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	display: block;
	color: #004266;
	padding: 5px;
}

ul.menu a:hover {
	text-decoration: underline;
}

ul.menu li.dropdown:hover > ul,
ul.menu ul.active {
	border-radius: 0 0 2px 2px;
	border: solid 1px #689DB9;
	border-top: none 0;
	visibility: visible;
	opacity: 1;
}

ul.menu ul {
	background-color: #FFFFFF;
    position: absolute;
	visibility: hidden;
	z-index: 99999;
	opacity: 0;
}

ul.menu ul li {
	display: list-item;
	float: none;
}

#headerSearch {
	height: 15px; 
	float: right;
	padding: 4px;
}

#headerBasket {
	float: right; 
}

/* ----- Navigation ----- */
#navigation {
	text-align: center;
	width: 100%;
}

#navigationMenue {
	height: 100%;
	padding: 0px 0px 10px 0px;
}

#navigationMenue .catalog-filter-tree {
	margin: 0px 15px 0px 8px;
}

#navigationMenue .catalog-filter-tree ul{
	display: inline;
}

#navigationMenue .catalog-filter-tree ul li {
	display: inline;
	margin: 0px -3px 0px 0px;
}

#navigationMenue a {
	height: 43px; 
	padding: 0px 14px 0px 15px; 
	margin: 0px -3px 0px 0px;
	border: medium none;
	background:url(../images/mainnavigationBackground.jpg) repeat-x; 
	color: #FFFFFF; 
	display: inline-block; 
	font-weight: bold; 
	font-size: 1.5em; 
	line-height: 44px; 
	text-transform: uppercase; 
}

#navigationMenue a:first-child {
	border-radius: 5px 0px 0px 5px;
}

#navigationMenue a:last-child {
	border-radius: 0px 5px 5px 0px;
}

#navigationMenue a:hover {
	background:url(../images/mainnavigationBackgroundActive.jpg) repeat-x;
}

#navigationMenue a.active {
	background:url(../images/mainnavigationBackgroundActive.jpg) repeat-x;
}

/* ----- Content ----- */
#content {
	padding: 20px 0px 20px 0px; 
	margin: 0px 8px 0px 8px;
	background-color: #FFFFFF;
	border-radius: 15px 15px 0 0;
}

#headerImg.display #content {
	margin-top: 230px;
}

#contentLeft {
	min-width: 17%; 
	float: left; 
	padding: 0px 1.2%; 
	background: #FFFFFF;
}

#contentRight {
	width: 77%; 
	float: left; 
	padding: 0 1.6% 0 1.2%;
	background: #FFFFFF;
}

#contentFull {
	width: 96%; 
	margin: 0 2%;
}

#contentStart {
	margin: 0 8px;
	padding: 0px 0px 20px 0px; 
	background-color: #FFFFFF;
	border-radius: 15px 15px 0 0;
}

#headerImg.display #contentStart {
	margin-top: 230px;
}

#contentStart h1 {
	font-style: italic;
	color: #679CB8;
	border-bottom: 1px solid #bebebe;
	padding: 0px 0px 5px 5px;
}

#contentStart ul {
	padding: 10px 0px 10px 0px;
}

#contentStart #textLeft {
	width: 46%;
	float:left;
	margin: 0 1% 5% 0;
}

#contentStart #textLeft h1{
	color: #004266;
	border:none;
	padding: 0px 0px 5px 0px;
	font-style: normal;
}
#contentStart #textLeft ul {
	padding: 10px 0px 10px 20px;
}

#contentFull #textLeft ul li ul {
	padding: 10px 0px 10px 20px;
}

#contentStart #imageRight {
	width: 52%;
	float:left;
}

#contentStart #teaserLeft {
	width: 55.62%;
	float: left;
	padding: 0 1.2% 0 0;
	margin: 0;
}

#contentStart #teaserLeft img {
	border-bottom: 1px solid #bebebe;
}

#contentStart #teaserRight {
	width: 43.18%;
	float: left;
	margin: 0;
}

#contentStart #teaserRight img {
	border-bottom: 1px solid #bebebe;
}

#contentStart #teaserBottomLeft {
	width: 50%;
	float: left;
}

#contentStart #teaserBottomRight {
	width: 50%;
	float: left;
}

#contentStart #teaserBottom img{
	border-bottom: 1px solid #bebebe;
}

#contentStart #teaserService h1 {
	margin: 0px 0px 10px 0px;
	padding: 5px 0px 5px 5px;
}

#contentStart #teaserService .textTop{
	width: 200px;
	padding: 0px 0px 0px 5px;
	float: left;
}

#contentStart #teaserService .textBottom{
	width: 200px;
	padding: 0px 0px 0px 5px;
	float: left;
}

/* ----- Footer -----*/
#footer {
	clear: both;
}

#footerTop {
	height: 16px;
	background: url(../images/middleBottomBackground.jpg) repeat-x; 
}

#footerBottom {
	padding: 19px; 
	color: #004266;
	clear: both;
}

#footerTopLeft,
#footerTopRight {
	height: 16px; 
	width: 19px;
	float: left; 
	background: url(../images/middleLeftBottomBackground.jpg) no-repeat; 
}

#footerTopRight {
	background: url(../images/middleRightBottomBackground.jpg) no-repeat; 
	float: right;
}

/*----- Default classes -----*/
.clearer {
	clear: both;
}

.clearfix:after {
	content: "."; 
	display: block; 
	height: 0px; 
	clear: both; 
	visibility: hidden;
}

/*----- Media Queries -----*/
@media only screen and (min-device-width: 270px) and (max-width: 1020px){
	#contentStart #teaserLeft img{
		max-width: 100%;
		height: auto;
	}
	#contentStart #teaserRight img{
		max-width: 100%;
		height: auto;
	}
	#contentStart #teaserBottomLeft img{
		max-width: 100%;
		height: auto;
	}
	#contentStart #teaserBottomRight img{
		max-width: 100%;
		height: auto;
	}
}

@media only screen and (min-device-width: 480px) and (max-width: 1020px) {
	#contentFull #imageRight img {
		max-width: 100%;
		height: auto;
	}
}

@media only screen and (min-device-width: 600px) and (max-width: 680px) {
	#headerLogo img {
		max-width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: 800px) and (orientation: portrait) {
	#contentFull #textLeft{
		float:none;
		width: 96%;
	}
	#contentFull #imageRight{
		float:none;
		width:96%;
	}
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
	#headerLogo {
		display: none;
	}
	#headerMiddle {
		width: 65%;
	}
	#headerSearch {
		padding: 5px 0 0;
	}
}

@media only screen and (max-width: 600px) and (orientation: landscape) {
	#headerLogo {
		display: none;
	}
	#headerMiddle {
		width: 65%;
	}
	#headerSearch {
		padding: 5px 0 0;
	}
}


@media only screen and (max-width: 480px) and (orientation: portrait) {
	#navigationMenue a {
		height: 33px; 
		font-size: 1em; 
		line-height: 34px; 
	}
	#headerImg.display #content {
		margin-top: 0px;
	}
}

@media only screen and (max-height: 480px) and (orientation: landscape) {
	#headerImg.display #content {
		margin-top: 0px;
	}
}

@media only screen and (max-width: 425px) and (orientation: portrait) {
	#headerSearch span {
		display: none;
	}
	#headerSearch input {
		border-left: 1px solid #689DB9;
	}
}

@media only screen and (max-width: 425px) and (orientation: landscape) {
	#headerSearch span {
		display: none;
	}
	#headerSearch input {
		border-left: 1px solid #689DB9;
	}
}

@media only screen and (max-width: 345px) and (orientation: portrait) {
	#navigationMenue a:first-child {
		border-radius: 0px;
	}
	#navigationMenue a:last-child {
		border-radius: 0px;
	}
	#headerSearch input {
		width: 130px;
	}
}