<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php">
	<testsuites>
		<testsuite name="Arcavias suite">
			<directory>MShop/</directory>
		</testsuite>
		<testsuite name="MAdmin suite">
			<directory>MAdmin/</directory>
		</testsuite>
	</testsuites>
	<logging>
		<log type="junit" target="lib-mshoplib_test.junit.xml" />
	</logging>
</phpunit>