<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php">
	<testsuites>
		<testsuite name="Aimeos suite">
			<directory>MShop/</directory>
			<file>MShopTest.php</file>
		</testsuite>
		<testsuite name="MAdmin suite">
			<directory>MAdmin/</directory>
			<file>MAdminTest.php</file>
		</testsuite>
	</testsuites>
	<logging>
		<log type="junit" target="core_lib-mshoplib_test.junit.xml" />
	</logging>
</phpunit>